openapi: 3.0.1
info:
  contact:
    email: contact@oncokb.org
    name: OncoKB
    url: https://www.oncokb.org
  description: "OncoKB, a comprehensive and curated precision oncology knowledge base,\
    \ offers oncologists detailed, evidence-based information about individual somatic\
    \ mutations and structural alterations present in patient tumors with the goal\
    \ of supporting optimal treatment decisions."
  license:
    name: Terms of Use
    url: https://www.oncokb.org/terms
  termsOfService: https://www.oncokb.org/terms
  title: OncoKB APIs
  version: v1.5.0
servers:
- url: https://www.oncokb.org/api/v1
tags:
- description: Providing annotation services
  name: Annotations
- description: Cancer Genes
  name: Cancer Genes
- description: OncoKB General Information
  name: Info
- description: OncoKB Levels
  name: Levels
paths:
  /annotate/copyNumberAlterations:
    get:
      description: Annotate copy number alteration.
      operationId: annotateCopyNumberAlterationsGetUsingGET_1
      parameters:
      - description: "The gene symbol used in Human Genome Organisation. Example:\
          \ BRAF"
        in: query
        name: hugoSymbol
        schema:
          type: string
      - description: "The entrez gene ID. (Higher priority than hugoSymbol). Example:\
          \ 673"
        in: query
        name: entrezGeneId
        schema:
          format: int32
          type: integer
      - description: Copy number alteration type
        in: query
        name: copyNameAlterationType
        required: true
        schema:
          enum:
          - AMPLIFICATION
          - DELETION
          - GAIN
          - LOSS
          type: string
      - description: "Reference genome, either GRCh37 or GRCh38. The default is GRCh37"
        in: query
        name: referenceGenome
        schema:
          default: GRCh37
          type: string
      - description: "OncoTree(http://oncotree.info) tumor type name. The field supports\
          \ OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma"
        in: query
        name: tumorType
        schema:
          type: string
      - description: DEPRECATED. We do not recommend using this parameter and it will
          eventually be removed.
        in: query
        name: evidenceType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorQueryResp'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateCopyNumberAlterationsGet
      tags:
      - Annotations
      x-accepts:
      - application/json
    post:
      description: Annotate copy number alterations.
      operationId: annotateCopyNumberAlterationsPostUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AnnotateCopyNumberAlterationQuery'
              type: array
        description: List of queries. Please see swagger.json for request body format.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndicatorQueryResp'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateCopyNumberAlterationsPost
      tags:
      - Annotations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /annotate/mutations/byGenomicChange:
    get:
      description: Annotate mutation by genomic change.
      operationId: annotateMutationsByGenomicChangeGetUsingGET_1
      parameters:
      - description: "Genomic location following TCGA MAF format. Example: 7,140453136,140453136,A,T"
        in: query
        name: genomicLocation
        required: true
        schema:
          type: string
      - description: "Reference genome, either GRCh37 or GRCh38. The default is GRCh37"
        in: query
        name: referenceGenome
        schema:
          default: GRCh37
          type: string
      - description: "OncoTree(http://oncotree.info) tumor type name. The field supports\
          \ OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma"
        in: query
        name: tumorType
        schema:
          type: string
      - description: DEPRECATED. We do not recommend using this parameter and it will
          eventually be removed.
        in: query
        name: evidenceType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorQueryResp'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByGenomicChangeGet
      tags:
      - Annotations
      x-accepts:
      - application/json
    post:
      description: Annotate mutations by genomic change.
      operationId: annotateMutationsByGenomicChangePostUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AnnotateMutationByGenomicChangeQuery'
              type: array
        description: List of queries. Please see swagger.json for request body format.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndicatorQueryResp'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByGenomicChangePost
      tags:
      - Annotations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /annotate/mutations/byHGVSg:
    get:
      description: Annotate mutation by HGVSg.
      operationId: annotateMutationsByHGVSgGetUsingGET_1
      parameters:
      - description: "HGVS genomic format following HGVS nomenclature. Example: 7:g.140453136A>T"
        in: query
        name: hgvsg
        required: true
        schema:
          type: string
      - description: "Reference genome, either GRCh37 or GRCh38. The default is GRCh37"
        in: query
        name: referenceGenome
        schema:
          default: GRCh37
          type: string
      - description: "OncoTree(http://oncotree.info) tumor type name. The field supports\
          \ OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma"
        in: query
        name: tumorType
        schema:
          type: string
      - description: DEPRECATED. We do not recommend using this parameter and it will
          eventually be removed.
        in: query
        name: evidenceType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorQueryResp'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByHGVSgGet
      tags:
      - Annotations
      x-accepts:
      - application/json
    post:
      description: Annotate mutations by HGVSg.
      operationId: annotateMutationsByHGVSgPostUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AnnotateMutationByHGVSgQuery'
              type: array
        description: List of queries. Please see swagger.json for request body format.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndicatorQueryResp'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByHGVSgPost
      tags:
      - Annotations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /annotate/mutations/byProteinChange:
    get:
      description: Annotate mutation by protein change.
      operationId: annotateMutationsByProteinChangeGetUsingGET_1
      parameters:
      - description: "The gene symbol used in Human Genome Organisation. Example:\
          \ BRAF"
        in: query
        name: hugoSymbol
        schema:
          type: string
      - description: "The entrez gene ID. (Higher priority than hugoSymbol). Example:\
          \ 673"
        in: query
        name: entrezGeneId
        schema:
          format: int32
          type: integer
      - description: "Protein Change. Example: V600E"
        in: query
        name: alteration
        schema:
          type: string
      - description: "Reference genome, either GRCh37 or GRCh38. The default is GRCh37"
        in: query
        name: referenceGenome
        schema:
          default: GRCh37
          type: string
      - description: "Consequence. Example: missense_variant"
        in: query
        name: consequence
        schema:
          enum:
          - feature_truncation
          - frameshift_variant
          - inframe_deletion
          - inframe_insertion
          - start_lost
          - missense_variant
          - splice_region_variant
          - stop_gained
          - synonymous_variant
          - intron_variant
          type: string
      - description: "Protein Start. Example: 600"
        in: query
        name: proteinStart
        schema:
          format: int32
          type: integer
      - description: "Protein End. Example: 600"
        in: query
        name: proteinEnd
        schema:
          format: int32
          type: integer
      - description: "OncoTree(http://oncotree.info) tumor type name. The field supports\
          \ OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma"
        in: query
        name: tumorType
        schema:
          type: string
      - description: DEPRECATED. We do not recommend using this parameter and it will
          eventually be removed.
        in: query
        name: evidenceType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorQueryResp'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByProteinChangeGet
      tags:
      - Annotations
      x-accepts:
      - application/json
    post:
      description: Annotate mutations by protein change.
      operationId: annotateMutationsByProteinChangePostUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AnnotateMutationByProteinChangeQuery'
              type: array
        description: List of queries. Please see swagger.json for request body format.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndicatorQueryResp'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateMutationsByProteinChangePost
      tags:
      - Annotations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /annotate/structuralVariants:
    get:
      description: Annotate structural variant.
      operationId: annotateStructuralVariantsGetUsingGET_1
      parameters:
      - description: "The gene symbol A used in Human Genome Organisation. Example:\
          \ ABL1"
        in: query
        name: hugoSymbolA
        schema:
          type: string
      - description: "The entrez gene ID A. (Higher priority than hugoSymbolA) Example:\
          \ 25"
        in: query
        name: entrezGeneIdA
        schema:
          format: int32
          type: integer
      - description: "The gene symbol B used in Human Genome Organisation.Example:\
          \ BCR "
        in: query
        name: hugoSymbolB
        schema:
          type: string
      - description: "The entrez gene ID B. (Higher priority than hugoSymbolB) Example:\
          \ 613"
        in: query
        name: entrezGeneIdB
        schema:
          format: int32
          type: integer
      - description: Structural variant type
        in: query
        name: structuralVariantType
        required: true
        schema:
          enum:
          - DELETION
          - TRANSLOCATION
          - DUPLICATION
          - INSERTION
          - INVERSION
          - FUSION
          - UNKNOWN
          type: string
      - description: Whether is functional fusion
        in: query
        name: isFunctionalFusion
        required: true
        schema:
          default: false
          type: boolean
      - description: "Reference genome, either GRCh37 or GRCh38. The default is GRCh37"
        in: query
        name: referenceGenome
        schema:
          default: GRCh37
          type: string
      - description: "OncoTree(http://oncotree.info) tumor type name. The field supports\
          \ OncoTree Code, OncoTree Name and OncoTree Main type. Example: Melanoma"
        in: query
        name: tumorType
        schema:
          type: string
      - description: DEPRECATED. We do not recommend using this parameter and it will
          eventually be removed.
        in: query
        name: evidenceType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorQueryResp'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateStructuralVariantsGet
      tags:
      - Annotations
      x-accepts:
      - application/json
    post:
      description: Annotate structural variants.
      operationId: annotateStructuralVariantsPostUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AnnotateStructuralVariantQuery'
              type: array
        description: List of queries. Please see swagger.json for request body format.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IndicatorQueryResp'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHttpError'
          description: "Error, error message will be given."
      summary: annotateStructuralVariantsPost
      tags:
      - Annotations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /info:
    get:
      operationId: infoGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OncoKBInfo'
          description: OK
      summary: infoGet
      tags:
      - Info
      x-accepts:
      - application/json
  /levels:
    get:
      description: Get all levels.
      operationId: levelsGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: levelsGet
      tags:
      - Levels
      x-accepts:
      - application/json
  /levels/diagnostic:
    get:
      description: Get all diagnostic levels.
      operationId: levelsDiagnosticGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: levelsDiagnosticGet
      tags:
      - Levels
      x-accepts:
      - application/json
  /levels/prognostic:
    get:
      description: Get all prognostic levels.
      operationId: levelsPrognosticGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: levelsPrognosticGet
      tags:
      - Levels
      x-accepts:
      - application/json
  /levels/resistance:
    get:
      description: Get all resistance levels.
      operationId: levelsResistanceGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: levelsResistanceGet
      tags:
      - Levels
      x-accepts:
      - application/json
  /levels/sensitive:
    get:
      description: Get all sensitive levels.
      operationId: levelsSensitiveGetUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: levelsSensitiveGet
      tags:
      - Levels
      x-accepts:
      - application/json
  /utils/allCuratedGenes:
    get:
      description: Get list of genes OncoKB curated
      operationId: utilsAllCuratedGenesGetUsingGET_1
      parameters:
      - description: The data version
        in: query
        name: version
        schema:
          type: string
      - description: Include gene summary and background
        in: query
        name: includeEvidence
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CuratedGene'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
        "503":
          content: {}
          description: Service Unavailable
      summary: utilsAllCuratedGenesGet
      tags:
      - Cancer Genes
      x-accepts:
      - application/json
  /utils/allCuratedGenes.txt:
    get:
      description: Get list of genes OncoKB curated in text file.
      operationId: utilsAllCuratedGenesTxtGetUsingGET_1
      parameters:
      - description: The data version
        in: query
        name: version
        schema:
          type: string
      - description: Include gene summary and background
        in: query
        name: includeEvidence
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            text/plain;charset=UTF-8:
              schema:
                type: string
          description: OK
        "404":
          content: {}
          description: Not Found
        "503":
          content: {}
          description: Service Unavailable
      summary: utilsAllCuratedGenesTxtGet
      tags:
      - Cancer Genes
      x-accepts:
      - text/plain;charset=UTF-8
  /utils/cancerGeneList:
    get:
      description: Get cancer gene list
      operationId: utilsCancerGeneListGetUsingGET_1
      parameters:
      - description: The data version
        in: query
        name: version
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CancerGene'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
        "503":
          content: {}
          description: Service Unavailable
      summary: utilsCancerGeneListGet
      tags:
      - Cancer Genes
      x-accepts:
      - application/json
  /utils/cancerGeneList.txt:
    get:
      description: Get cancer gene list in text file.
      operationId: utilsCancerGeneListTxtGetUsingGET_1
      parameters:
      - description: The data version
        in: query
        name: version
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain;charset=UTF-8:
              schema:
                type: string
          description: OK
        "404":
          content: {}
          description: Not Found
        "503":
          content: {}
          description: Service Unavailable
      summary: utilsCancerGeneListTxtGet
      tags:
      - Cancer Genes
      x-accepts:
      - text/plain;charset=UTF-8
components:
  schemas:
    Drug:
      example:
        ncitCode: ncitCode
        drugName: drugName
      properties:
        drugName:
          type: string
        ncitCode:
          type: string
      type: object
    AnnotateMutationByGenomicChangeQuery:
      example:
        genomicLocation: genomicLocation
        tumorType: tumorType
        id: id
        referenceGenome: GRCh37
        evidenceTypes:
        - GENE_SUMMARY
        - GENE_SUMMARY
      properties:
        evidenceTypes:
          items:
            enum:
            - GENE_SUMMARY
            - MUTATION_SUMMARY
            - TUMOR_TYPE_SUMMARY
            - GENE_TUMOR_TYPE_SUMMARY
            - PROGNOSTIC_SUMMARY
            - DIAGNOSTIC_SUMMARY
            - GENE_BACKGROUND
            - ONCOGENIC
            - MUTATION_EFFECT
            - VUS
            - PROGNOSTIC_IMPLICATION
            - DIAGNOSTIC_IMPLICATION
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE
            type: string
          type: array
        genomicLocation:
          type: string
        id:
          type: string
        referenceGenome:
          enum:
          - GRCh37
          - GRCh38
          type: string
        tumorType:
          type: string
      type: object
    CuratedGene:
      example:
        summary: summary
        grch37RefSeq: grch37RefSeq
        tsg: true
        hugoSymbol: hugoSymbol
        grch38RefSeq: grch38RefSeq
        oncogene: true
        highestResistancLevel: highestResistancLevel
        background: background
        highestResistanceLevel: highestResistanceLevel
        grch37Isoform: grch37Isoform
        entrezGeneId: 0
        grch38Isoform: grch38Isoform
        highestSensitiveLevel: highestSensitiveLevel
      properties:
        background:
          type: string
        entrezGeneId:
          format: int32
          type: integer
        grch37Isoform:
          type: string
        grch37RefSeq:
          type: string
        grch38Isoform:
          type: string
        grch38RefSeq:
          type: string
        highestResistancLevel:
          type: string
        highestResistanceLevel:
          type: string
        highestSensitiveLevel:
          type: string
        hugoSymbol:
          type: string
        oncogene:
          type: boolean
        summary:
          type: string
        tsg:
          type: boolean
      type: object
    Query:
      description: Enriched user annotation query
      example:
        consequence: consequence
        tumorType: tumorType
        hgvsInfo: hgvsInfo
        hugoSymbol: hugoSymbol
        hgvs: hgvs
        referenceGenome: GRCh37
        proteinStart: 2
        alteration: alteration
        entrezGeneId: 5
        svType: DELETION
        alterationType: MUTATION
        id: id
        proteinEnd: 5
        canonicalTranscript: canonicalTranscript
      properties:
        alteration:
          description: (Nullable) Alteration from original query or the resolved alteration
            from HGVS variant
          type: string
        alterationType:
          description: (Nullable) Alteration type
          enum:
          - MUTATION
          - COPY_NUMBER_ALTERATION
          - STRUCTURAL_VARIANT
          type: string
        canonicalTranscript:
          description: (Nullable) The OncoKB canonical transcript. See https://www.oncokb.org/cancer-genes
          type: string
        consequence:
          description: (Nullable) Variant consequence term from Ensembl. See https://useast.ensembl.org/info/genome/variation/prediction/predicted_data.html
          type: string
        entrezGeneId:
          description: "(Nullable) Unique gene identifiers from NCBI. May be null\
            \ if omitted from original query, otherwise filled in by OncoKB"
          format: int32
          type: integer
        hgvs:
          description: (Nullable) The hgvsg or genomic location from original query
          type: string
        hgvsInfo:
          description: (Nullable) Additional message for "hgvs" field. May indicate
            reason for failed hgvs annotation.
          type: string
        hugoSymbol:
          description: (Nullable) The gene symbol used in Human Genome Organisation
          type: string
        id:
          description: (Nullable) The id passed in request for the user to distinguish
            the query.
          type: string
        proteinEnd:
          description: (Nullable) Protein end position
          format: int32
          type: integer
        proteinStart:
          description: (Nullable) Protein start position
          format: int32
          type: integer
        referenceGenome:
          description: Reference genome build version. Defaulted to GRCh37
          enum:
          - GRCh37
          - GRCh38
          type: string
        svType:
          description: (Nullable) Structural variant type
          enum:
          - DELETION
          - TRANSLOCATION
          - DUPLICATION
          - INSERTION
          - INVERSION
          - FUSION
          - UNKNOWN
          type: string
        tumorType:
          description: "(Nullable) Oncotree tumor type name, code, or main type."
          type: string
      type: object
    QueryGene:
      example:
        entrezGeneId: 0
        hugoSymbol: hugoSymbol
      properties:
        entrezGeneId:
          format: int32
          type: integer
        hugoSymbol:
          type: string
      type: object
    ApiHttpError:
      example:
        path: path
        detail: detail
        message: message
        title: title
        status: 7
      properties:
        detail:
          type: string
        message:
          type: string
        path:
          type: string
        status:
          format: int32
          type: integer
        title:
          type: string
      type: object
    CancerGene:
      example:
        grch37RefSeq: grch37RefSeq
        occurrenceCount: 6
        oncokbAnnotated: true
        tsg: true
        hugoSymbol: hugoSymbol
        foundation: true
        grch38RefSeq: grch38RefSeq
        oncogene: true
        sangerCGC: true
        mSKImpact: true
        mSKHeme: true
        geneAliases:
        - geneAliases
        - geneAliases
        grch37Isoform: grch37Isoform
        entrezGeneId: 0
        foundationHeme: true
        grch38Isoform: grch38Isoform
        vogelstein: true
      properties:
        entrezGeneId:
          format: int32
          type: integer
        foundation:
          type: boolean
        foundationHeme:
          type: boolean
        geneAliases:
          items:
            type: string
          type: array
        grch37Isoform:
          type: string
        grch37RefSeq:
          type: string
        grch38Isoform:
          type: string
        grch38RefSeq:
          type: string
        hugoSymbol:
          type: string
        mSKHeme:
          type: boolean
        mSKImpact:
          type: boolean
        occurrenceCount:
          format: int32
          type: integer
        oncogene:
          type: boolean
        oncokbAnnotated:
          type: boolean
        sangerCGC:
          type: boolean
        tsg:
          type: boolean
        vogelstein:
          type: boolean
      type: object
    MainType:
      description: OncoTree Cancer Type
      example:
        tumorForm: SOLID
        name: name
        id: 1
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        tumorForm:
          enum:
          - SOLID
          - LIQUID
          - MIXED
          type: string
      type: object
    OncoKBInfo:
      example:
        publicInstance: true
        appVersion:
          patch: 1
          major: 0
          minor: 6
          stable: true
          suffixTokens:
          - suffixTokens
          - suffixTokens
          version: version
        apiVersion:
          patch: 1
          major: 0
          minor: 6
          stable: true
          suffixTokens:
          - suffixTokens
          - suffixTokens
          version: version
        dataVersion:
          date: date
          version: version
        oncoTreeVersion: oncoTreeVersion
        ncitVersion: ncitVersion
        levels:
        - levelOfEvidence: LEVEL_1
          description: description
          colorHex: colorHex
          htmlDescription: htmlDescription
        - levelOfEvidence: LEVEL_1
          description: description
          colorHex: colorHex
          htmlDescription: htmlDescription
      properties:
        apiVersion:
          $ref: '#/components/schemas/SemVer'
        appVersion:
          $ref: '#/components/schemas/SemVer'
        dataVersion:
          $ref: '#/components/schemas/Version'
        levels:
          items:
            $ref: '#/components/schemas/InfoLevel'
          type: array
        ncitVersion:
          type: string
        oncoTreeVersion:
          type: string
        publicInstance:
          type: boolean
      type: object
    SemVer:
      example:
        patch: 1
        major: 0
        minor: 6
        stable: true
        suffixTokens:
        - suffixTokens
        - suffixTokens
        version: version
      properties:
        major:
          format: int32
          type: integer
        minor:
          format: int32
          type: integer
        patch:
          format: int32
          type: integer
        stable:
          type: boolean
        suffixTokens:
          items:
            type: string
          type: array
        version:
          type: string
      type: object
    Implication:
      example:
        tumorType:
          parent: parent
          code: code
          color: color
          children:
            key: null
          level: 6
          tumorForm: SOLID
          name: name
          tissue: tissue
          id: 0
          mainType:
            tumorForm: SOLID
            name: name
            id: 1
        abstracts:
        - link: link
          abstract: abstract
        - link: link
          abstract: abstract
        levelOfEvidence: LEVEL_1
        pmids:
        - pmids
        - pmids
        alterations:
        - alterations
        - alterations
        description: description
      properties:
        abstracts:
          description: List of abstracts cited to support the level of evidence. Defaulted
            to empty list
          items:
            $ref: '#/components/schemas/ArticleAbstract'
          type: array
        alterations:
          description: List of alterations associated with implication
          items:
            type: string
          type: array
        description:
          description: DEPRECATED
          type: string
        levelOfEvidence:
          description: Level associated with implication
          enum:
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3A
          - LEVEL_3B
          - LEVEL_4
          - LEVEL_R1
          - LEVEL_R2
          - LEVEL_Px1
          - LEVEL_Px2
          - LEVEL_Px3
          - LEVEL_Dx1
          - LEVEL_Dx2
          - LEVEL_Dx3
          - LEVEL_Fda1
          - LEVEL_Fda2
          - LEVEL_Fda3
          - "NO"
          type: string
        pmids:
          description: List of PubMed IDs cited to support the level of evidence.
            Defaulted to empty list
          items:
            type: string
          type: array
        tumorType:
          $ref: '#/components/schemas/TumorType'
      type: object
    AnnotateMutationByProteinChangeQuery:
      example:
        consequence: consequence
        tumorType: tumorType
        proteinStart: 6
        gene:
          entrezGeneId: 0
          hugoSymbol: hugoSymbol
        alteration: alteration
        id: id
        proteinEnd: 0
        referenceGenome: GRCh37
        evidenceTypes:
        - GENE_SUMMARY
        - GENE_SUMMARY
      properties:
        alteration:
          type: string
        consequence:
          type: string
        evidenceTypes:
          items:
            enum:
            - GENE_SUMMARY
            - MUTATION_SUMMARY
            - TUMOR_TYPE_SUMMARY
            - GENE_TUMOR_TYPE_SUMMARY
            - PROGNOSTIC_SUMMARY
            - DIAGNOSTIC_SUMMARY
            - GENE_BACKGROUND
            - ONCOGENIC
            - MUTATION_EFFECT
            - VUS
            - PROGNOSTIC_IMPLICATION
            - DIAGNOSTIC_IMPLICATION
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE
            type: string
          type: array
        gene:
          $ref: '#/components/schemas/QueryGene'
        id:
          type: string
        proteinEnd:
          format: int32
          type: integer
        proteinStart:
          format: int32
          type: integer
        referenceGenome:
          enum:
          - GRCh37
          - GRCh38
          type: string
        tumorType:
          type: string
      type: object
    IndicatorQueryTreatment:
      example:
        abstracts:
        - link: link
          abstract: abstract
        - link: link
          abstract: abstract
        drugs:
        - ncitCode: ncitCode
          drugName: drugName
        - ncitCode: ncitCode
          drugName: drugName
        level: LEVEL_1
        pmids:
        - pmids
        - pmids
        alterations:
        - alterations
        - alterations
        description: description
        fdaLevel: LEVEL_1
        approvedIndications:
        - approvedIndications
        - approvedIndications
        levelExcludedCancerTypes:
        - parent: parent
          code: code
          color: color
          children:
            key: null
          level: 6
          tumorForm: SOLID
          name: name
          tissue: tissue
          id: 0
          mainType:
            tumorForm: SOLID
            name: name
            id: 1
        - parent: parent
          code: code
          color: color
          children:
            key: null
          level: 6
          tumorForm: SOLID
          name: name
          tissue: tissue
          id: 0
          mainType:
            tumorForm: SOLID
            name: name
            id: 1
        levelAssociatedCancerType:
          parent: parent
          code: code
          color: color
          children:
            key: null
          level: 6
          tumorForm: SOLID
          name: name
          tissue: tissue
          id: 0
          mainType:
            tumorForm: SOLID
            name: name
            id: 1
      properties:
        abstracts:
          description: List of abstracts cited in the treatment description. Defaulted
            to empty list
          items:
            $ref: '#/components/schemas/ArticleAbstract'
          type: array
        alterations:
          description: List of alterations associated with therapeutic implication
          items:
            type: string
          type: array
        approvedIndications:
          description: DEPRECATED
          items:
            type: string
          type: array
        description:
          description: Treatment description. Defaulted to ""
          type: string
        drugs:
          description: List of drugs associated with therapeutic implication
          items:
            $ref: '#/components/schemas/Drug'
          type: array
        fdaLevel:
          description: FDA level associated with implication
          enum:
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3A
          - LEVEL_3B
          - LEVEL_4
          - LEVEL_R1
          - LEVEL_R2
          - LEVEL_Px1
          - LEVEL_Px2
          - LEVEL_Px3
          - LEVEL_Dx1
          - LEVEL_Dx2
          - LEVEL_Dx3
          - LEVEL_Fda1
          - LEVEL_Fda2
          - LEVEL_Fda3
          - "NO"
          type: string
        level:
          description: Therapeutic level associated with implication
          enum:
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3A
          - LEVEL_3B
          - LEVEL_4
          - LEVEL_R1
          - LEVEL_R2
          - LEVEL_Px1
          - LEVEL_Px2
          - LEVEL_Px3
          - LEVEL_Dx1
          - LEVEL_Dx2
          - LEVEL_Dx3
          - LEVEL_Fda1
          - LEVEL_Fda2
          - LEVEL_Fda3
          - "NO"
          type: string
        levelAssociatedCancerType:
          $ref: '#/components/schemas/TumorType'
        levelExcludedCancerTypes:
          description: Excluded cancer types. Defaulted to empty list
          items:
            $ref: '#/components/schemas/TumorType'
          type: array
        pmids:
          description: List of PubMed IDs cited in the treatment description. Defaulted
            to empty list
          items:
            type: string
          type: array
      type: object
    TumorType:
      description: OncoTree Detailed Cancer Type. See https://oncotree.mskcc.org/?version=oncotree_2019_12_01
      example:
        parent: parent
        code: code
        color: color
        children:
          key: null
        level: 6
        tumorForm: SOLID
        name: name
        tissue: tissue
        id: 0
        mainType:
          tumorForm: SOLID
          name: name
          id: 1
      properties:
        children:
          additionalProperties:
            $ref: '#/components/schemas/TumorType'
          description: Map from parent tumor type to children tumor types
          type: object
        code:
          description: Oncotree code
          type: string
        color:
          description: (Nullable) Color of tumor
          type: string
        id:
          description: Database TumorType ID
          format: int32
          type: integer
        level:
          description: Oncotree tumor type level. -1 indicates special tumor types
            (See SpecialTumorTypes.java)
          format: int32
          type: integer
        mainType:
          $ref: '#/components/schemas/MainType'
        name:
          description: (Nullable) Oncotree sub type
          type: string
        parent:
          description: (Nullable) Parent tumor name
          type: string
        tissue:
          description: (Nullable) Oncotree tumor tissue
          type: string
        tumorForm:
          description: Tumor form
          enum:
          - SOLID
          - LIQUID
          - MIXED
          type: string
      type: object
    MutationEffectResp:
      example:
        knownEffect: Gain-of-function
        citations:
          abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          pmids:
          - pmids
          - pmids
        description: description
      properties:
        citations:
          $ref: '#/components/schemas/Citations'
        description:
          description: A brief overview of the biological and oncogenic effect of
            the variant. Defaulted to ""
          type: string
        knownEffect:
          description: Indicates the effect of the mutation on the gene. Defaulted
            to ""
          enum:
          - Gain-of-function
          - Inconclusive
          - Loss-of-function
          - Likely Loss-of-function
          - Likely Gain-of-function
          - Neutral
          - Unknown
          - Likely Switch-of-function
          - Switch-of-function
          - Likely Neutral
          type: string
      type: object
    AnnotateCopyNumberAlterationQuery:
      example:
        tumorType: tumorType
        gene:
          entrezGeneId: 0
          hugoSymbol: hugoSymbol
        id: id
        copyNameAlterationType: AMPLIFICATION
        referenceGenome: GRCh37
        evidenceTypes:
        - GENE_SUMMARY
        - GENE_SUMMARY
      properties:
        copyNameAlterationType:
          enum:
          - AMPLIFICATION
          - DELETION
          - GAIN
          - LOSS
          type: string
        evidenceTypes:
          items:
            enum:
            - GENE_SUMMARY
            - MUTATION_SUMMARY
            - TUMOR_TYPE_SUMMARY
            - GENE_TUMOR_TYPE_SUMMARY
            - PROGNOSTIC_SUMMARY
            - DIAGNOSTIC_SUMMARY
            - GENE_BACKGROUND
            - ONCOGENIC
            - MUTATION_EFFECT
            - VUS
            - PROGNOSTIC_IMPLICATION
            - DIAGNOSTIC_IMPLICATION
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE
            type: string
          type: array
        gene:
          $ref: '#/components/schemas/QueryGene'
        id:
          type: string
        referenceGenome:
          enum:
          - GRCh37
          - GRCh38
          type: string
        tumorType:
          type: string
      type: object
    Version:
      example:
        date: date
        version: version
      properties:
        date:
          type: string
        version:
          type: string
      type: object
    AnnotateMutationByHGVSgQuery:
      example:
        hgvsg: hgvsg
        tumorType: tumorType
        id: id
        referenceGenome: GRCh37
        evidenceTypes:
        - GENE_SUMMARY
        - GENE_SUMMARY
      properties:
        evidenceTypes:
          items:
            enum:
            - GENE_SUMMARY
            - MUTATION_SUMMARY
            - TUMOR_TYPE_SUMMARY
            - GENE_TUMOR_TYPE_SUMMARY
            - PROGNOSTIC_SUMMARY
            - DIAGNOSTIC_SUMMARY
            - GENE_BACKGROUND
            - ONCOGENIC
            - MUTATION_EFFECT
            - VUS
            - PROGNOSTIC_IMPLICATION
            - DIAGNOSTIC_IMPLICATION
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE
            type: string
          type: array
        hgvsg:
          type: string
        id:
          type: string
        referenceGenome:
          enum:
          - GRCh37
          - GRCh38
          type: string
        tumorType:
          type: string
      type: object
    AnnotateStructuralVariantQuery:
      example:
        functionalFusion: true
        tumorType: tumorType
        geneB:
          entrezGeneId: 0
          hugoSymbol: hugoSymbol
        geneA:
          entrezGeneId: 0
          hugoSymbol: hugoSymbol
        id: id
        referenceGenome: GRCh37
        structuralVariantType: DELETION
        evidenceTypes:
        - GENE_SUMMARY
        - GENE_SUMMARY
      properties:
        evidenceTypes:
          items:
            enum:
            - GENE_SUMMARY
            - MUTATION_SUMMARY
            - TUMOR_TYPE_SUMMARY
            - GENE_TUMOR_TYPE_SUMMARY
            - PROGNOSTIC_SUMMARY
            - DIAGNOSTIC_SUMMARY
            - GENE_BACKGROUND
            - ONCOGENIC
            - MUTATION_EFFECT
            - VUS
            - PROGNOSTIC_IMPLICATION
            - DIAGNOSTIC_IMPLICATION
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY
            - STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY
            - INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE
            type: string
          type: array
        functionalFusion:
          type: boolean
        geneA:
          $ref: '#/components/schemas/QueryGene'
        geneB:
          $ref: '#/components/schemas/QueryGene'
        id:
          type: string
        referenceGenome:
          enum:
          - GRCh37
          - GRCh38
          type: string
        structuralVariantType:
          enum:
          - DELETION
          - TRANSLOCATION
          - DUPLICATION
          - INSERTION
          - INVERSION
          - FUSION
          - UNKNOWN
          type: string
        tumorType:
          type: string
      type: object
    IndicatorQueryResp:
      example:
        oncogenic: Oncogenic
        hotspot: false
        prognosticImplications:
        - tumorType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          levelOfEvidence: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
        - tumorType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          levelOfEvidence: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
        geneExist: false
        alleleExist: false
        treatments:
        - abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          drugs:
          - ncitCode: ncitCode
            drugName: drugName
          - ncitCode: ncitCode
            drugName: drugName
          level: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
          fdaLevel: LEVEL_1
          approvedIndications:
          - approvedIndications
          - approvedIndications
          levelExcludedCancerTypes:
          - parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          - parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          levelAssociatedCancerType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
        - abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          drugs:
          - ncitCode: ncitCode
            drugName: drugName
          - ncitCode: ncitCode
            drugName: drugName
          level: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
          fdaLevel: LEVEL_1
          approvedIndications:
          - approvedIndications
          - approvedIndications
          levelExcludedCancerTypes:
          - parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          - parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          levelAssociatedCancerType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
        prognosticSummary: prognosticSummary
        diagnosticImplications:
        - tumorType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          levelOfEvidence: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
        - tumorType:
            parent: parent
            code: code
            color: color
            children:
              key: null
            level: 6
            tumorForm: SOLID
            name: name
            tissue: tissue
            id: 0
            mainType:
              tumorForm: SOLID
              name: name
              id: 1
          abstracts:
          - link: link
            abstract: abstract
          - link: link
            abstract: abstract
          levelOfEvidence: LEVEL_1
          pmids:
          - pmids
          - pmids
          alterations:
          - alterations
          - alterations
          description: description
        vus: true
        highestResistanceLevel: LEVEL_R1
        highestSensitiveLevel: LEVEL_1
        tumorTypeSummary: tumorTypeSummary
        highestPrognosticImplicationLevel: LEVEL_Px1
        otherSignificantResistanceLevels:
        - LEVEL_1
        - LEVEL_1
        dataVersion: v4.25
        query:
          consequence: consequence
          tumorType: tumorType
          hgvsInfo: hgvsInfo
          hugoSymbol: hugoSymbol
          hgvs: hgvs
          referenceGenome: GRCh37
          proteinStart: 2
          alteration: alteration
          entrezGeneId: 5
          svType: DELETION
          alterationType: MUTATION
          id: id
          proteinEnd: 5
          canonicalTranscript: canonicalTranscript
        geneSummary: geneSummary
        variantSummary: variantSummary
        mutationEffect:
          knownEffect: Gain-of-function
          citations:
            abstracts:
            - link: link
              abstract: abstract
            - link: link
              abstract: abstract
            pmids:
            - pmids
            - pmids
          description: description
        otherSignificantSensitiveLevels:
        - LEVEL_1
        - LEVEL_1
        diagnosticSummary: diagnosticSummary
        lastUpdate: 01/30/2025
        variantExist: false
        highestFdaLevel: LEVEL_Fda1
        highestDiagnosticImplicationLevel: LEVEL_Dx1
      properties:
        alleleExist:
          description: Indicates whether the alternate allele has been curated. See
            SOP Protocol 9.1
          example: false
          type: boolean
        dataVersion:
          description: OncoKB data version. See www.oncokb.org/news
          example: v4.25
          type: string
        diagnosticImplications:
          description: List of diagnostic implications. Defaulted to empty list
          items:
            $ref: '#/components/schemas/Implication'
          type: array
        diagnosticSummary:
          description: Diagnostic summary. Defaulted to ""
          type: string
        geneExist:
          description: Indicates whether the gene is curated by OncoKB
          example: false
          type: boolean
        geneSummary:
          description: Gene summary. Defaulted to ""
          type: string
        highestDiagnosticImplicationLevel:
          description: (Nullable) The highest diagnostic level from a list of diagnostic
            evidences.
          enum:
          - LEVEL_Dx1
          - LEVEL_Dx2
          - LEVEL_Dx3.
          type: string
        highestFdaLevel:
          description: (Nullable) The highest FDA level from a list of therapeutic
            evidences.
          enum:
          - LEVEL_Fda1
          - LEVEL_Fda2
          - LEVEL_Fda3
          type: string
        highestPrognosticImplicationLevel:
          description: (Nullable) The highest prognostic level from a list of prognostic
            evidences.
          enum:
          - LEVEL_Px1
          - LEVEL_Px2
          - LEVEL_Px3
          type: string
        highestResistanceLevel:
          description: (Nullable) The highest resistance level from a list of therapeutic
            evidences.
          enum:
          - LEVEL_R1
          - LEVEL_R2
          type: string
        highestSensitiveLevel:
          description: (Nullable) The highest sensitivity level from a list of therapeutic
            evidences.
          enum:
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3A
          - LEVEL_3B
          - LEVEL_4
          type: string
        hotspot:
          description: "Whether variant is recurrently found in cancer with statistical\
            \ significance, as defined in Chang et al. (2017). See SOP Protocol 9.2"
          example: false
          type: boolean
        lastUpdate:
          description: OncoKB data release date. Formatted as MM/DD/YYYY
          example: 01/30/2025
          type: string
        mutationEffect:
          $ref: '#/components/schemas/MutationEffectResp'
        oncogenic:
          description: The oncogenicity status of the variant. Defaulted to "Unknown".
          enum:
          - Oncogenic
          - Likely Oncogenic
          - Likely Neutral
          - Inconclusive
          - Resistance
          - Unknown
          type: string
        otherSignificantResistanceLevels:
          description: DEPRECATED
          items:
            enum:
            - LEVEL_1
            - LEVEL_2
            - LEVEL_3A
            - LEVEL_3B
            - LEVEL_4
            - LEVEL_R1
            - LEVEL_R2
            - LEVEL_Px1
            - LEVEL_Px2
            - LEVEL_Px3
            - LEVEL_Dx1
            - LEVEL_Dx2
            - LEVEL_Dx3
            - LEVEL_Fda1
            - LEVEL_Fda2
            - LEVEL_Fda3
            - "NO"
            type: string
          type: array
        otherSignificantSensitiveLevels:
          description: DEPRECATED
          items:
            enum:
            - LEVEL_1
            - LEVEL_2
            - LEVEL_3A
            - LEVEL_3B
            - LEVEL_4
            - LEVEL_R1
            - LEVEL_R2
            - LEVEL_Px1
            - LEVEL_Px2
            - LEVEL_Px3
            - LEVEL_Dx1
            - LEVEL_Dx2
            - LEVEL_Dx3
            - LEVEL_Fda1
            - LEVEL_Fda2
            - LEVEL_Fda3
            - "NO"
            type: string
          type: array
        prognosticImplications:
          description: List of prognostic implications. Defaulted to empty list
          items:
            $ref: '#/components/schemas/Implication'
          type: array
        prognosticSummary:
          description: Prognostic summary. Defaulted to ""
          type: string
        query:
          $ref: '#/components/schemas/Query'
        treatments:
          description: List of therapeutic implications implications. Defaulted to
            empty list
          items:
            $ref: '#/components/schemas/IndicatorQueryTreatment'
          type: array
        tumorTypeSummary:
          description: Tumor type summary. Defaulted to ""
          type: string
        variantExist:
          description: Indicates whether an exact match for the queried variant is
            curated
          example: false
          type: boolean
        variantSummary:
          description: Variant summary. Defaulted to ""
          type: string
        vus:
          type: boolean
      type: object
    Citations:
      example:
        abstracts:
        - link: link
          abstract: abstract
        - link: link
          abstract: abstract
        pmids:
        - pmids
        - pmids
      properties:
        abstracts:
          description: Set of Abstract sources
          items:
            $ref: '#/components/schemas/ArticleAbstract'
          type: array
        pmids:
          description: Set of PubMed article ids
          items:
            type: string
          type: array
      type: object
    ArticleAbstract:
      example:
        link: link
        abstract: abstract
      properties:
        abstract:
          type: string
        link:
          type: string
      type: object
    InfoLevel:
      example:
        levelOfEvidence: LEVEL_1
        description: description
        colorHex: colorHex
        htmlDescription: htmlDescription
      properties:
        colorHex:
          type: string
        description:
          type: string
        htmlDescription:
          type: string
        levelOfEvidence:
          enum:
          - LEVEL_1
          - LEVEL_2
          - LEVEL_3A
          - LEVEL_3B
          - LEVEL_4
          - LEVEL_R1
          - LEVEL_R2
          - LEVEL_Px1
          - LEVEL_Px2
          - LEVEL_Px3
          - LEVEL_Dx1
          - LEVEL_Dx2
          - LEVEL_Dx3
          - LEVEL_Fda1
          - LEVEL_Fda2
          - LEVEL_Fda3
          - "NO"
          type: string
      type: object
x-original-swagger-version: "2.0"

