/*
 * oncokb-transcript API
 * oncokb-transcript API documentation
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package org.oncokb.oncokb_transcript.client;

import org.oncokb.oncokb_transcript.ApiCallback;
import org.oncokb.oncokb_transcript.ApiClient;
import org.oncokb.oncokb_transcript.ApiException;
import org.oncokb.oncokb_transcript.ApiResponse;
import org.oncokb.oncokb_transcript.Configuration;
import org.oncokb.oncokb_transcript.Pair;
import org.oncokb.oncokb_transcript.ProgressRequestBody;
import org.oncokb.oncokb_transcript.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.oncokb.oncokb_transcript.client.Sequence;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SequenceControllerApi {
    private ApiClient apiClient;

    public SequenceControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SequenceControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for findSequencesByUsageSourceUsingGET
     * @param referenceGenome referenceGenome (required)
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call findSequencesByUsageSourceUsingGETCall(String referenceGenome, String usageSource, String hugoSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/sequences-by-usage-source";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (referenceGenome != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("referenceGenome", referenceGenome));
        if (usageSource != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("usageSource", usageSource));
        if (hugoSymbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbol", hugoSymbol));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call findSequencesByUsageSourceUsingGETValidateBeforeCall(String referenceGenome, String usageSource, String hugoSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'referenceGenome' is set
        if (referenceGenome == null) {
            throw new ApiException("Missing the required parameter 'referenceGenome' when calling findSequencesByUsageSourceUsingGET(Async)");
        }
        // verify the required parameter 'usageSource' is set
        if (usageSource == null) {
            throw new ApiException("Missing the required parameter 'usageSource' when calling findSequencesByUsageSourceUsingGET(Async)");
        }
        
        com.squareup.okhttp.Call call = findSequencesByUsageSourceUsingGETCall(referenceGenome, usageSource, hugoSymbol, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * findSequencesByUsageSource
     * 
     * @param referenceGenome referenceGenome (required)
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (optional)
     * @return List&lt;Sequence&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Sequence> findSequencesByUsageSourceUsingGET(String referenceGenome, String usageSource, String hugoSymbol) throws ApiException {
        ApiResponse<List<Sequence>> resp = findSequencesByUsageSourceUsingGETWithHttpInfo(referenceGenome, usageSource, hugoSymbol);
        return resp.getData();
    }

    /**
     * findSequencesByUsageSource
     * 
     * @param referenceGenome referenceGenome (required)
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (optional)
     * @return ApiResponse&lt;List&lt;Sequence&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Sequence>> findSequencesByUsageSourceUsingGETWithHttpInfo(String referenceGenome, String usageSource, String hugoSymbol) throws ApiException {
        com.squareup.okhttp.Call call = findSequencesByUsageSourceUsingGETValidateBeforeCall(referenceGenome, usageSource, hugoSymbol, null, null);
        Type localVarReturnType = new TypeToken<List<Sequence>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * findSequencesByUsageSource (asynchronously)
     * 
     * @param referenceGenome referenceGenome (required)
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findSequencesByUsageSourceUsingGETAsync(String referenceGenome, String usageSource, String hugoSymbol, final ApiCallback<List<Sequence>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findSequencesByUsageSourceUsingGETValidateBeforeCall(referenceGenome, usageSource, hugoSymbol, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Sequence>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
