/*
 * oncokb-transcript API
 * oncokb-transcript API documentation
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package org.oncokb.oncokb_transcript.client;

import org.oncokb.oncokb_transcript.ApiCallback;
import org.oncokb.oncokb_transcript.ApiClient;
import org.oncokb.oncokb_transcript.ApiException;
import org.oncokb.oncokb_transcript.ApiResponse;
import org.oncokb.oncokb_transcript.Configuration;
import org.oncokb.oncokb_transcript.Pair;
import org.oncokb.oncokb_transcript.ProgressRequestBody;
import org.oncokb.oncokb_transcript.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.oncokb.oncokb_transcript.client.AllReferenceTranscriptSuggestionVM;
import org.oncokb.oncokb_transcript.client.EnrichedAlignmentResult;
import org.oncokb.oncokb_transcript.client.MatchTranscriptVM;
import org.oncokb.oncokb_transcript.client.TranscriptComparisonResultVM;
import org.oncokb.oncokb_transcript.client.TranscriptComparisonVM;
import org.oncokb.oncokb_transcript.client.TranscriptMatchResultVM;
import org.oncokb.oncokb_transcript.client.TranscriptResultVM;
import org.oncokb.oncokb_transcript.client.TranscriptSuggestionVM;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TranscriptControllerApi {
    private ApiClient apiClient;

    public TranscriptControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TranscriptControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for compareEnsemblTranscriptUsingPOST
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call compareEnsemblTranscriptUsingPOSTCall(TranscriptComparisonVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/compare-ensembl-transcript";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call compareEnsemblTranscriptUsingPOSTValidateBeforeCall(TranscriptComparisonVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = compareEnsemblTranscriptUsingPOSTCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * compareEnsemblTranscript
     * 
     * @param body  (optional)
     * @return TranscriptComparisonResultVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptComparisonResultVM compareEnsemblTranscriptUsingPOST(TranscriptComparisonVM body) throws ApiException {
        ApiResponse<TranscriptComparisonResultVM> resp = compareEnsemblTranscriptUsingPOSTWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * compareEnsemblTranscript
     * 
     * @param body  (optional)
     * @return ApiResponse&lt;TranscriptComparisonResultVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptComparisonResultVM> compareEnsemblTranscriptUsingPOSTWithHttpInfo(TranscriptComparisonVM body) throws ApiException {
        com.squareup.okhttp.Call call = compareEnsemblTranscriptUsingPOSTValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<TranscriptComparisonResultVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * compareEnsemblTranscript (asynchronously)
     * 
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call compareEnsemblTranscriptUsingPOSTAsync(TranscriptComparisonVM body, final ApiCallback<TranscriptComparisonResultVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = compareEnsemblTranscriptUsingPOSTValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptComparisonResultVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for compareTranscriptUsingPOST
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call compareTranscriptUsingPOSTCall(String hugoSymbol, TranscriptComparisonVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/compare-transcript/{hugoSymbol}"
            .replaceAll("\\{" + "hugoSymbol" + "\\}", apiClient.escapeString(hugoSymbol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call compareTranscriptUsingPOSTValidateBeforeCall(String hugoSymbol, TranscriptComparisonVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling compareTranscriptUsingPOST(Async)");
        }
        
        com.squareup.okhttp.Call call = compareTranscriptUsingPOSTCall(hugoSymbol, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * compareTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return TranscriptComparisonResultVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptComparisonResultVM compareTranscriptUsingPOST(String hugoSymbol, TranscriptComparisonVM body) throws ApiException {
        ApiResponse<TranscriptComparisonResultVM> resp = compareTranscriptUsingPOSTWithHttpInfo(hugoSymbol, body);
        return resp.getData();
    }

    /**
     * compareTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return ApiResponse&lt;TranscriptComparisonResultVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptComparisonResultVM> compareTranscriptUsingPOSTWithHttpInfo(String hugoSymbol, TranscriptComparisonVM body) throws ApiException {
        com.squareup.okhttp.Call call = compareTranscriptUsingPOSTValidateBeforeCall(hugoSymbol, body, null, null);
        Type localVarReturnType = new TypeToken<TranscriptComparisonResultVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * compareTranscript (asynchronously)
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call compareTranscriptUsingPOSTAsync(String hugoSymbol, TranscriptComparisonVM body, final ApiCallback<TranscriptComparisonResultVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = compareTranscriptUsingPOSTValidateBeforeCall(hugoSymbol, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptComparisonResultVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for findGrch38VariantUsingGET
     * @param referenceAminoAcid referenceAminoAcid (required)
     * @param proteinPosition proteinPosition (required)
     * @param grch37ProteinId grch37ProteinId (required)
     * @param grch38ProteinId grch38ProteinId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call findGrch38VariantUsingGETCall(String referenceAminoAcid, Integer proteinPosition, String grch37ProteinId, String grch38ProteinId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/find-grch38-variant";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (referenceAminoAcid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("referenceAminoAcid", referenceAminoAcid));
        if (proteinPosition != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("proteinPosition", proteinPosition));
        if (grch37ProteinId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("grch37ProteinId", grch37ProteinId));
        if (grch38ProteinId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("grch38ProteinId", grch38ProteinId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call findGrch38VariantUsingGETValidateBeforeCall(String referenceAminoAcid, Integer proteinPosition, String grch37ProteinId, String grch38ProteinId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'referenceAminoAcid' is set
        if (referenceAminoAcid == null) {
            throw new ApiException("Missing the required parameter 'referenceAminoAcid' when calling findGrch38VariantUsingGET(Async)");
        }
        // verify the required parameter 'proteinPosition' is set
        if (proteinPosition == null) {
            throw new ApiException("Missing the required parameter 'proteinPosition' when calling findGrch38VariantUsingGET(Async)");
        }
        // verify the required parameter 'grch37ProteinId' is set
        if (grch37ProteinId == null) {
            throw new ApiException("Missing the required parameter 'grch37ProteinId' when calling findGrch38VariantUsingGET(Async)");
        }
        // verify the required parameter 'grch38ProteinId' is set
        if (grch38ProteinId == null) {
            throw new ApiException("Missing the required parameter 'grch38ProteinId' when calling findGrch38VariantUsingGET(Async)");
        }
        
        com.squareup.okhttp.Call call = findGrch38VariantUsingGETCall(referenceAminoAcid, proteinPosition, grch37ProteinId, grch38ProteinId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * findGrch38Variant
     * 
     * @param referenceAminoAcid referenceAminoAcid (required)
     * @param proteinPosition proteinPosition (required)
     * @param grch37ProteinId grch37ProteinId (required)
     * @param grch38ProteinId grch38ProteinId (required)
     * @return TranscriptSuggestionVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptSuggestionVM findGrch38VariantUsingGET(String referenceAminoAcid, Integer proteinPosition, String grch37ProteinId, String grch38ProteinId) throws ApiException {
        ApiResponse<TranscriptSuggestionVM> resp = findGrch38VariantUsingGETWithHttpInfo(referenceAminoAcid, proteinPosition, grch37ProteinId, grch38ProteinId);
        return resp.getData();
    }

    /**
     * findGrch38Variant
     * 
     * @param referenceAminoAcid referenceAminoAcid (required)
     * @param proteinPosition proteinPosition (required)
     * @param grch37ProteinId grch37ProteinId (required)
     * @param grch38ProteinId grch38ProteinId (required)
     * @return ApiResponse&lt;TranscriptSuggestionVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptSuggestionVM> findGrch38VariantUsingGETWithHttpInfo(String referenceAminoAcid, Integer proteinPosition, String grch37ProteinId, String grch38ProteinId) throws ApiException {
        com.squareup.okhttp.Call call = findGrch38VariantUsingGETValidateBeforeCall(referenceAminoAcid, proteinPosition, grch37ProteinId, grch38ProteinId, null, null);
        Type localVarReturnType = new TypeToken<TranscriptSuggestionVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * findGrch38Variant (asynchronously)
     * 
     * @param referenceAminoAcid referenceAminoAcid (required)
     * @param proteinPosition proteinPosition (required)
     * @param grch37ProteinId grch37ProteinId (required)
     * @param grch38ProteinId grch38ProteinId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findGrch38VariantUsingGETAsync(String referenceAminoAcid, Integer proteinPosition, String grch37ProteinId, String grch38ProteinId, final ApiCallback<TranscriptSuggestionVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findGrch38VariantUsingGETValidateBeforeCall(referenceAminoAcid, proteinPosition, grch37ProteinId, grch38ProteinId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptSuggestionVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAlignmentsUsingPOST
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAlignmentsUsingPOSTCall(String hugoSymbol, MatchTranscriptVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/get-alignments/{hugoSymbol}"
            .replaceAll("\\{" + "hugoSymbol" + "\\}", apiClient.escapeString(hugoSymbol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAlignmentsUsingPOSTValidateBeforeCall(String hugoSymbol, MatchTranscriptVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling getAlignmentsUsingPOST(Async)");
        }
        
        com.squareup.okhttp.Call call = getAlignmentsUsingPOSTCall(hugoSymbol, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * getAlignments
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return List&lt;EnrichedAlignmentResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EnrichedAlignmentResult> getAlignmentsUsingPOST(String hugoSymbol, MatchTranscriptVM body) throws ApiException {
        ApiResponse<List<EnrichedAlignmentResult>> resp = getAlignmentsUsingPOSTWithHttpInfo(hugoSymbol, body);
        return resp.getData();
    }

    /**
     * getAlignments
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return ApiResponse&lt;List&lt;EnrichedAlignmentResult&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EnrichedAlignmentResult>> getAlignmentsUsingPOSTWithHttpInfo(String hugoSymbol, MatchTranscriptVM body) throws ApiException {
        com.squareup.okhttp.Call call = getAlignmentsUsingPOSTValidateBeforeCall(hugoSymbol, body, null, null);
        Type localVarReturnType = new TypeToken<List<EnrichedAlignmentResult>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getAlignments (asynchronously)
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAlignmentsUsingPOSTAsync(String hugoSymbol, MatchTranscriptVM body, final ApiCallback<List<EnrichedAlignmentResult>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAlignmentsUsingPOSTValidateBeforeCall(hugoSymbol, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EnrichedAlignmentResult>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTranscriptUsingGET
     * @param referenceGenome referenceGenome (required)
     * @param transcript transcript (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTranscriptUsingGETCall(String referenceGenome, String transcript, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/get-sequence";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (referenceGenome != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("referenceGenome", referenceGenome));
        if (transcript != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("transcript", transcript));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTranscriptUsingGETValidateBeforeCall(String referenceGenome, String transcript, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'referenceGenome' is set
        if (referenceGenome == null) {
            throw new ApiException("Missing the required parameter 'referenceGenome' when calling getTranscriptUsingGET(Async)");
        }
        // verify the required parameter 'transcript' is set
        if (transcript == null) {
            throw new ApiException("Missing the required parameter 'transcript' when calling getTranscriptUsingGET(Async)");
        }
        
        com.squareup.okhttp.Call call = getTranscriptUsingGETCall(referenceGenome, transcript, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * getTranscript
     * 
     * @param referenceGenome referenceGenome (required)
     * @param transcript transcript (required)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String getTranscriptUsingGET(String referenceGenome, String transcript) throws ApiException {
        ApiResponse<String> resp = getTranscriptUsingGETWithHttpInfo(referenceGenome, transcript);
        return resp.getData();
    }

    /**
     * getTranscript
     * 
     * @param referenceGenome referenceGenome (required)
     * @param transcript transcript (required)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> getTranscriptUsingGETWithHttpInfo(String referenceGenome, String transcript) throws ApiException {
        com.squareup.okhttp.Call call = getTranscriptUsingGETValidateBeforeCall(referenceGenome, transcript, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getTranscript (asynchronously)
     * 
     * @param referenceGenome referenceGenome (required)
     * @param transcript transcript (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTranscriptUsingGETAsync(String referenceGenome, String transcript, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTranscriptUsingGETValidateBeforeCall(referenceGenome, transcript, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTranscriptUsingGET1
     * @param hugoSymbol hugoSymbol (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTranscriptUsingGET1Call(String hugoSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/get-transcript/{hugoSymbol}"
            .replaceAll("\\{" + "hugoSymbol" + "\\}", apiClient.escapeString(hugoSymbol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTranscriptUsingGET1ValidateBeforeCall(String hugoSymbol, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling getTranscriptUsingGET1(Async)");
        }
        
        com.squareup.okhttp.Call call = getTranscriptUsingGET1Call(hugoSymbol, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * getTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @return TranscriptResultVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptResultVM getTranscriptUsingGET1(String hugoSymbol) throws ApiException {
        ApiResponse<TranscriptResultVM> resp = getTranscriptUsingGET1WithHttpInfo(hugoSymbol);
        return resp.getData();
    }

    /**
     * getTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @return ApiResponse&lt;TranscriptResultVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptResultVM> getTranscriptUsingGET1WithHttpInfo(String hugoSymbol) throws ApiException {
        com.squareup.okhttp.Call call = getTranscriptUsingGET1ValidateBeforeCall(hugoSymbol, null, null);
        Type localVarReturnType = new TypeToken<TranscriptResultVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getTranscript (asynchronously)
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTranscriptUsingGET1Async(String hugoSymbol, final ApiCallback<TranscriptResultVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTranscriptUsingGET1ValidateBeforeCall(hugoSymbol, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptResultVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for matchTranscriptUsingPOST
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call matchTranscriptUsingPOSTCall(String hugoSymbol, MatchTranscriptVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/match-transcript/{hugoSymbol}"
            .replaceAll("\\{" + "hugoSymbol" + "\\}", apiClient.escapeString(hugoSymbol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call matchTranscriptUsingPOSTValidateBeforeCall(String hugoSymbol, MatchTranscriptVM body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling matchTranscriptUsingPOST(Async)");
        }
        
        com.squareup.okhttp.Call call = matchTranscriptUsingPOSTCall(hugoSymbol, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * matchTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return TranscriptMatchResultVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptMatchResultVM matchTranscriptUsingPOST(String hugoSymbol, MatchTranscriptVM body) throws ApiException {
        ApiResponse<TranscriptMatchResultVM> resp = matchTranscriptUsingPOSTWithHttpInfo(hugoSymbol, body);
        return resp.getData();
    }

    /**
     * matchTranscript
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @return ApiResponse&lt;TranscriptMatchResultVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptMatchResultVM> matchTranscriptUsingPOSTWithHttpInfo(String hugoSymbol, MatchTranscriptVM body) throws ApiException {
        com.squareup.okhttp.Call call = matchTranscriptUsingPOSTValidateBeforeCall(hugoSymbol, body, null, null);
        Type localVarReturnType = new TypeToken<TranscriptMatchResultVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * matchTranscript (asynchronously)
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call matchTranscriptUsingPOSTAsync(String hugoSymbol, MatchTranscriptVM body, final ApiCallback<TranscriptMatchResultVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = matchTranscriptUsingPOSTValidateBeforeCall(hugoSymbol, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptMatchResultVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for suggestVariantUsingGET
     * @param hugoSymbol hugoSymbol (required)
     * @param proteinPosition proteinPosition (required)
     * @param curatedResidue curatedResidue (required)
     * @param grch37Transcript grch37Transcript (required)
     * @param grch38Transcript grch38Transcript (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call suggestVariantUsingGETCall(String hugoSymbol, Integer proteinPosition, String curatedResidue, String grch37Transcript, String grch38Transcript, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/suggest-variant/{hugoSymbol}"
            .replaceAll("\\{" + "hugoSymbol" + "\\}", apiClient.escapeString(hugoSymbol.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (proteinPosition != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("proteinPosition", proteinPosition));
        if (curatedResidue != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("curatedResidue", curatedResidue));
        if (grch37Transcript != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("grch37Transcript", grch37Transcript));
        if (grch38Transcript != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("grch38Transcript", grch38Transcript));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call suggestVariantUsingGETValidateBeforeCall(String hugoSymbol, Integer proteinPosition, String curatedResidue, String grch37Transcript, String grch38Transcript, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling suggestVariantUsingGET(Async)");
        }
        // verify the required parameter 'proteinPosition' is set
        if (proteinPosition == null) {
            throw new ApiException("Missing the required parameter 'proteinPosition' when calling suggestVariantUsingGET(Async)");
        }
        // verify the required parameter 'curatedResidue' is set
        if (curatedResidue == null) {
            throw new ApiException("Missing the required parameter 'curatedResidue' when calling suggestVariantUsingGET(Async)");
        }
        // verify the required parameter 'grch37Transcript' is set
        if (grch37Transcript == null) {
            throw new ApiException("Missing the required parameter 'grch37Transcript' when calling suggestVariantUsingGET(Async)");
        }
        // verify the required parameter 'grch38Transcript' is set
        if (grch38Transcript == null) {
            throw new ApiException("Missing the required parameter 'grch38Transcript' when calling suggestVariantUsingGET(Async)");
        }
        
        com.squareup.okhttp.Call call = suggestVariantUsingGETCall(hugoSymbol, proteinPosition, curatedResidue, grch37Transcript, grch38Transcript, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * suggestVariant
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param proteinPosition proteinPosition (required)
     * @param curatedResidue curatedResidue (required)
     * @param grch37Transcript grch37Transcript (required)
     * @param grch38Transcript grch38Transcript (required)
     * @return AllReferenceTranscriptSuggestionVM
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AllReferenceTranscriptSuggestionVM suggestVariantUsingGET(String hugoSymbol, Integer proteinPosition, String curatedResidue, String grch37Transcript, String grch38Transcript) throws ApiException {
        ApiResponse<AllReferenceTranscriptSuggestionVM> resp = suggestVariantUsingGETWithHttpInfo(hugoSymbol, proteinPosition, curatedResidue, grch37Transcript, grch38Transcript);
        return resp.getData();
    }

    /**
     * suggestVariant
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param proteinPosition proteinPosition (required)
     * @param curatedResidue curatedResidue (required)
     * @param grch37Transcript grch37Transcript (required)
     * @param grch38Transcript grch38Transcript (required)
     * @return ApiResponse&lt;AllReferenceTranscriptSuggestionVM&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AllReferenceTranscriptSuggestionVM> suggestVariantUsingGETWithHttpInfo(String hugoSymbol, Integer proteinPosition, String curatedResidue, String grch37Transcript, String grch38Transcript) throws ApiException {
        com.squareup.okhttp.Call call = suggestVariantUsingGETValidateBeforeCall(hugoSymbol, proteinPosition, curatedResidue, grch37Transcript, grch38Transcript, null, null);
        Type localVarReturnType = new TypeToken<AllReferenceTranscriptSuggestionVM>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * suggestVariant (asynchronously)
     * 
     * @param hugoSymbol hugoSymbol (required)
     * @param proteinPosition proteinPosition (required)
     * @param curatedResidue curatedResidue (required)
     * @param grch37Transcript grch37Transcript (required)
     * @param grch38Transcript grch38Transcript (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call suggestVariantUsingGETAsync(String hugoSymbol, Integer proteinPosition, String curatedResidue, String grch37Transcript, String grch38Transcript, final ApiCallback<AllReferenceTranscriptSuggestionVM> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = suggestVariantUsingGETValidateBeforeCall(hugoSymbol, proteinPosition, curatedResidue, grch37Transcript, grch38Transcript, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AllReferenceTranscriptSuggestionVM>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateTranscriptUsageUsingPOST
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (required)
     * @param entrezGeneId entrezGeneId (required)
     * @param referenceGenome referenceGenome (required)
     * @param ensemblTranscriptId ensemblTranscriptId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateTranscriptUsageUsingPOSTCall(String usageSource, String hugoSymbol, Integer entrezGeneId, String referenceGenome, String ensemblTranscriptId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/update-transcript-usage-source";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (usageSource != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("usageSource", usageSource));
        if (hugoSymbol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hugoSymbol", hugoSymbol));
        if (entrezGeneId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entrezGeneId", entrezGeneId));
        if (referenceGenome != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("referenceGenome", referenceGenome));
        if (ensemblTranscriptId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ensemblTranscriptId", ensemblTranscriptId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateTranscriptUsageUsingPOSTValidateBeforeCall(String usageSource, String hugoSymbol, Integer entrezGeneId, String referenceGenome, String ensemblTranscriptId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'usageSource' is set
        if (usageSource == null) {
            throw new ApiException("Missing the required parameter 'usageSource' when calling updateTranscriptUsageUsingPOST(Async)");
        }
        // verify the required parameter 'hugoSymbol' is set
        if (hugoSymbol == null) {
            throw new ApiException("Missing the required parameter 'hugoSymbol' when calling updateTranscriptUsageUsingPOST(Async)");
        }
        // verify the required parameter 'entrezGeneId' is set
        if (entrezGeneId == null) {
            throw new ApiException("Missing the required parameter 'entrezGeneId' when calling updateTranscriptUsageUsingPOST(Async)");
        }
        // verify the required parameter 'referenceGenome' is set
        if (referenceGenome == null) {
            throw new ApiException("Missing the required parameter 'referenceGenome' when calling updateTranscriptUsageUsingPOST(Async)");
        }
        // verify the required parameter 'ensemblTranscriptId' is set
        if (ensemblTranscriptId == null) {
            throw new ApiException("Missing the required parameter 'ensemblTranscriptId' when calling updateTranscriptUsageUsingPOST(Async)");
        }
        
        com.squareup.okhttp.Call call = updateTranscriptUsageUsingPOSTCall(usageSource, hugoSymbol, entrezGeneId, referenceGenome, ensemblTranscriptId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * updateTranscriptUsage
     * 
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (required)
     * @param entrezGeneId entrezGeneId (required)
     * @param referenceGenome referenceGenome (required)
     * @param ensemblTranscriptId ensemblTranscriptId (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateTranscriptUsageUsingPOST(String usageSource, String hugoSymbol, Integer entrezGeneId, String referenceGenome, String ensemblTranscriptId) throws ApiException {
        updateTranscriptUsageUsingPOSTWithHttpInfo(usageSource, hugoSymbol, entrezGeneId, referenceGenome, ensemblTranscriptId);
    }

    /**
     * updateTranscriptUsage
     * 
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (required)
     * @param entrezGeneId entrezGeneId (required)
     * @param referenceGenome referenceGenome (required)
     * @param ensemblTranscriptId ensemblTranscriptId (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateTranscriptUsageUsingPOSTWithHttpInfo(String usageSource, String hugoSymbol, Integer entrezGeneId, String referenceGenome, String ensemblTranscriptId) throws ApiException {
        com.squareup.okhttp.Call call = updateTranscriptUsageUsingPOSTValidateBeforeCall(usageSource, hugoSymbol, entrezGeneId, referenceGenome, ensemblTranscriptId, null, null);
        return apiClient.execute(call);
    }

    /**
     * updateTranscriptUsage (asynchronously)
     * 
     * @param usageSource usageSource (required)
     * @param hugoSymbol hugoSymbol (required)
     * @param entrezGeneId entrezGeneId (required)
     * @param referenceGenome referenceGenome (required)
     * @param ensemblTranscriptId ensemblTranscriptId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateTranscriptUsageUsingPOSTAsync(String usageSource, String hugoSymbol, Integer entrezGeneId, String referenceGenome, String ensemblTranscriptId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateTranscriptUsageUsingPOSTValidateBeforeCall(usageSource, hugoSymbol, entrezGeneId, referenceGenome, ensemblTranscriptId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
